<!doctype html>
<html>
<body>
    <h1>Bienvenido!!</h1>
    <h2>Endpoints disponibles:</h2>
    <h2>Ejercicio Nº1:</h2>
    <h3>[GET] /moviles?limit=[]&offset=[] --> renderizar con table.html el listado de moviles</h3>
    <h2>Ejercicio Nº2:</h2>
    <h3>[POST] /cargar --> complete el registro de moviles por JSON</h3>
    <h2>Ejercicio Nº3:</h2>
    <h3>[GET] /grafica --> mostrar un gráfico con lo recaudado de todos los moviles
g
    <p></p>

    <!-- Codigo utilizado para redireccionar a otra pagina-->
    <form action="{{url_for('moviles')}}">
        <input type="submit" value="Movil"/>
    </form>

    <form action="{{url_for('cargar')}}">
        <input type="submit" value="Cargar"/>
    </form>

    <form action="{{url_for('grafica')}}">
        <input type="submit" value="Grafica"/>
    </form>

</body>
</html>