<!doctype html>
<html>
<body>
    <h1>Bienvenido!!</h1>
    <h2>Endpoints disponibles:</h2>
    <h2>Moviles</h2>
    <h3>[GET] /moviles?limit=[]&offset=[] --> muestra los datos cargados</h3>
    <h2>Cargar Movil</h2>
    <h3>[POST] /cargar --> completa el registro de datos</h3>
    <h2>Graficar</h2>
    <h3>[GET] /grafica --> mostrar un gráfico con lo recaudado de todos los moviles en fecha ingresada
    <h2>Resumen Movil</h2>
    <h3>[GET] /resumen_movil --> muestra un resumen de un movil en fecha ingresada

    <p></p>

    <!-- Codigo utilizado para redireccionar a otra pagina-->
    <form action="{{url_for('moviles')}}">
        <input type="submit" value="Movil"/>
    </form>

    <form action="{{url_for('cargar')}}">
        <input type="submit" value="Cargar"/>
    </form>

    <form action="{{url_for('grafica')}}">
        <input type="submit" value="Grafica"/>
    </form>

    <form action="{{url_for('resumen_movil')}}">
        <input type="submit" value="Resumen"/>
    </form>

</body>
</html>